<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
   <%= @feed.content %>
</p>
 
<p>
  <strong>Image:</strong>
    <%= image_tag @feed.image.url %>
    <%= @feed.user.name %> 
    <%# @feedは画像を投稿したユーザーの名前を表示している。 %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>

<% unless @feed.user_id == current_user.id %>
  <% if @favorite.present? %>
    <%= link_to 'お気に入り解除する', favorite_path(id: @favorite.id), method: :delete, class: 'btn btn-danger' %>
  <% else %>
    <%= link_to 'お気に入りする', favorites_path(feed_id: @feed.id), method: :post, class: 'btn btn-primary' %>
  <% end %>
<% end %>
