<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
    <%= image_tag @feed.image.url %>
    <%= @feed.user.name %> 
    <%# @feedは画像を投稿したユーザーの名前を表示している。 %>
</p>

<%= link_to 'Edit', edit_feed_path(@feed) %> |
<%= link_to 'Back', feeds_path %>
